// Basic Styles

body
  background: $bg-color
  font-size: 18px
  line-height: 1.6
  font-family: 'Open Sans' sans-serif
  color: $text-color
  text-align: center

h2
  font-size: 54px
  font-weight: 700
  color: $light-text

a
  color: $secondary-color

.rightEx
  color: $standard-lime

.allRight
  color: $standard-lime

.notAllRight
  color: #E6C40A

.nothingRight
  color: #CB4C39

.lekSelect
  list-style-type: none